@import "https://fonts.googleapis.com/css?family=Montserrat";
#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a222c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.content {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0px;
  text-align: center;
}

.icon {
  text-align: center;
  color: #fff;
  width: 20px !important;
  height: 20px;
  /* font-size: 20px; */
  padding: 10px;
  margin: 5px;
  transition: all 0.5s;
}

.icon:hover {
  opacity: 0.5;
}

.icon:active {
  opacity: 0.5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 50px;
  display: block;
  line-height: 1;
  color: #fff;
  margin: 0;
}

h2 {
  font-size: 20px;
  display: block;
  line-height: 1;
  color: #fff;
  margin-top: 10px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.emailtext {
  text-decoration: underline;
  margin: 0;
  color: #fff;
}
.errortext {
  display: inline;
  margin: 0;
  color: #fff;
}

.wait-for-icons {
  display: none;
}

.fontawesome-i2svg-active .wait-for-icons {
  display: initial;
}

@media only screen and (min-width: 768px) {
  h1 {
    margin-top: 0;
    font-size: 76px;
  }
  h2 {
    font-size: 34px;
  }
  .icon {
    width: 30px !important;
    height: 30px;
    font-size: 70px;
    line-height: 30px;
  }
}
