---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta
      http-equiv="Content-Security-Policy"
      content={`
        default-src 'self'; 
        script-src 'self' 'unsafe-inline' 'unsafe-eval' https://challenges.cloudflare.com https://static.cloudflareinsights.com blob:; 
        style-src 'self' 'unsafe-inline'; 
        frame-src 'self' https://challenges.cloudflare.com; 
        connect-src 'self' https://challenges.cloudflare.com https://cloudflareinsights.com ${import.meta.env.URL}; 
        worker-src 'self' blob:; 
        img-src 'self' data:;
      `}
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<link rel="preconnect" href="https://challenges.cloudflare.com" />
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer
></script>
<style is:global>
  :root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #f1f5f9;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
</style>
